body
{
    font-family: 'Special Elite', cursive;
    background-color: #f5dbda;
}

.header_div
{
    background: white;
    color: #ce2700;
}

.header_div img
{
    width: 90px;
}

#camera, #result
{
    border: 2px solid white ;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px white;
}

.copy_right_footer
{
    position: fixed;
    color: #6c757d;;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
}

.main4_div
{
    background-color: #ffd2c7;
    padding: 10px;
    margin-top: -5px;
    border: 3px solid white;
}

.main4_div label
{
    background: white;
    width: 310px;
    padding: -10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
}

.main4_div img
{
    width: 200px;
}

.main5_div
{
    background-color: #ffd2c7;
    padding: 10px;
    margin-top: -1px;
    border: 3px solid white;
}

.main5_div label
{
    background: white;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
}

.main5_div img
{
    width: 190px;
}

.main2_div
{
    background-color: #ffd2c7;
    padding: 10px;
    margin-top: -1  0px;
    border: 3px solid white;
}

.main2_div label
{
    background: white;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
}

.main2_div img
{
    width: 200px;
}

.main_div
{
    background-color: #ffd2c7;
    padding: 10px;
    margin-top: -0px;
    border: 3px solid white;
}

.main_div label
{
    background: white;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
}

.main_div img
{
    width: 200px;
}
